<div class="mission-section">
    <div>
        <div class="flex">
            <div class="img"><img
                    src="//img1.wsimg.com/isteam/ip/2ea6b6aa-5afb-4b19-99cc-348a51009dd6/GrowthArc-image2.jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:600,cg:true"
                    alt=""></div>
            <div class="content">
                <h1>Our Mission</h1>
                <p>To empower growth-focused companies to seamlessly scale by envisioning their business-technology
                    canvas through an architecture-led approach, powered by platforms, data and AI</p>
            </div>
        </div>
        <div class="flex row-reverse">
            <div class="img"><img
                    src="//img1.wsimg.com/isteam/ip/2ea6b6aa-5afb-4b19-99cc-348a51009dd6/GrowthArc-image4.jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:600,cg:true"
                    alt=""></div>
            <div class="content">
                <h1>What we do</h1>
                <p style=" font-style:italic">Simplify execution complexities by leveraging evolutionary architecture aligned with business
                    priorities and outcomes, with our <span style="font-weight: bold">Business Technology Blueprint (BTB)</span>  framework</p>



                <p> BTB is crafted with the deep and collective industry, domain, and technology expertise of our
                    practitioners</p>


                <p>
                    We develop your enterprise architecture blueprint and realize it with intelligent platforms,
                    interconnected data and integrated AI.</p>
            </div>

        </div>
        <div class="flex flex-wrap">
            <div class="img"><img
                    src="//img1.wsimg.com/isteam/stock/WVDERZr/:/cr=t:0%25,l:8.83%25,w:82.33%25,h:100%25/rs=w:600,h:451.12781954887214,cg:true"
                    alt=""></div>


            <div class="content">
                <h1>Intelligent Platforms</h1>
                <p>The heart of your business beats through the synergy of enterprise applications and their expansive
                    SaaS ecosystems. We don’t just aim for integration and modernization. We craft solutions with a deep
                    sense of empathy towards your business needs and challenges.</p>



                <p> By blending intelligent platforms, modernizing applications, using AI to make apps intelligent, and
                    leveraging automation, our BTB is designed to unlock your business's full potential, ensuring that
                    every investment delivers its maximum return.

                </p>

                <span> “Maximize your business potential”</span>



            </div>

        </div>


        <div class="flex row-reverse flex-wrap">
            <div class="img"><img
                    src="https://img1.wsimg.com/isteam/stock/21823/:/cr=t:0%25,l:12.59%25,w:74.81%25,h:100%25/rs=w:600,h:451,cg:true/qt=q:9"
                    alt=""></div>
            <div class="content">
                <h1>Interconnected Data</h1>
                <p>In the whirlwind of rapid digitalization, the sheer volume of data can be overwhelming, yet it's a
                    goldmine for growth—if harnessed correctly. We're here to transform your data from a static resource
                    into a dynamic force that propels your business forward.</p>



                <p> Our interconnected Data and Analytics solutions are designed not just to manage your data, but to
                    make it work for you, ensuring every piece of information adds value to your journey towards
                    accelerated growth.</p>



                <span> "Turns data chaos into clarity and purpose"</span>
            </div>

        </div>

        <div class="flex flex-wrap">
            <div class="img"><img
                    src="//img1.wsimg.com/isteam/stock/BxpR1ED/:/cr=t:0%25,l:5.67%25,w:88.67%25,h:100%25/rs=w:600,h:451.12781954887214,cg:true"
                    alt=""></div>


            <div class="content">
                <h1>Integrated AI</h1>
                <p>We revolutionize your data exploration by fusing timeless Decision Intelligence wisdom with
                    Artificial Intelligence & Machine Learning.
                </p>



                <p> This potent combination is designed to unleash the untapped potential of your data, ensuring you
                    glean unparalleled value from every byte.


                </p>
                <p>Embark on this journey with us, where your data doesn’t just speak—it sings the possibilities of
                    tomorrow.</p>
                <span>
                    "Step into the future"</span>



            </div>

        </div>
    </div>


</div>