<div class="team-section">
    <h1>Meet the Team</h1>
    <div class="team-container">
        <div class="team-member">
           <div class="height"> <img src="//img1.wsimg.com/isteam/ip/2ea6b6aa-5afb-4b19-99cc-348a51009dd6/1706715236218.jpeg/:/cr=t:10.87%25,l:13.45%25,w:67.57%25,h:67.57%25/rs=w:365,h:365,cg:true,m/fx-gs" alt="Sunil Krishnareddy">
            <h2>Sunil Krishnareddy: Managing Partner</h2>
            <p>Organization builder loved by employees and customers alike. Extensive expertise building organizations
                ground up, scaling new-age tech practices and leading global delivery teams.</p>
            </div>
            <button onclick="window.location.href='https://www.linkedin.com/in/sunilkrishnareddy/'">LinkedIn</button>
        </div>
        <div class="team-member">
           <div class="height"> <img src="//img1.wsimg.com/isteam/ip/2ea6b6aa-5afb-4b19-99cc-348a51009dd6/1517730603777-2.jpeg/:/rs=w:365,h:365,cg:true,m/cr=w:365,h:365/fx-gs" alt="Venkat Ramasubban">
            <h2>Venkat Ramasubban: Managing Partner</h2>
            <p>Industry leader trusted by customer executives for translating strategy into tangible business outcomes.
                Extensive experience in architecting and driving large-scale transformation initiatives.</p>
            </div>
            <button onclick="window.location.href='https://www.linkedin.com/in/venkatramasubban/'">LinkedIn</button>
        </div>
        <div class="team-member">
           <div class="height"> <img src="//img1.wsimg.com/isteam/ip/2ea6b6aa-5afb-4b19-99cc-348a51009dd6/1596256177847-2.jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:365,h:365,cg:true/fx-gs/qt=q:5" alt="Rijun Chokshi">
            <h2>Rijun Chokshi: Managing Partner</h2>
            <p>A dynamic Technology GTM leader with a proven record of industry growth. Thrives on complex business
                challenges, is a dedicated strategist, and always forward-thinking. A visionary who turns complex issues
                into profitable outcomes.</p>
            </div>
            <button onclick="window.location.href='https://www.linkedin.com/in/rijunchokshi/'">LinkedIn</button>
        </div>
    </div>
</div>